h1 {
    text-align: center;
    
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 350px;
    width: 250px;
}

.result img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.buttons {
    justify-content: center;
    display: flex;
    flex-direction:row;

}



